extends layout

block content
    

    // Wrapper
    .container
        h1 Academic Resource Portal

        // program search
        div.row
            div.col.s8.offset-s2
                form
                input.search(placeholder="Search by course, program...")
                button.search(type="submit" value="search") 
                    i.fa.fa-search
        // /program search

        // program INFO
        #programInfo
            h2 Program Info
            
            
        // /program INFO

        

    // /WRAPPER