doctype html
html
	head
		title= "Academic Resource Portal"
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/grid.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.css')
	body
		block content
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='/javascripts/global.js')