body {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.card {
	padding: .5em 1em 1em;
	background-color: grey;
	margin: 1em .5em;
	height: 100%;
}

input.search {
	width: 75%;
	font-size: 1.5em;
	line-height: 1.5;
	padding: .25em 1em;
	margin: 0 .25em;
}

button.search {
	padding: .25em .25em;
	width: 10%;
	font-size: 1.5em;
	line-height: 1.70;
	margin-left: -.3em;
	height: 100%;
}