<div class="ui stackable menu">
    <div class="left menu">
        <div class="item">
            <a href="/programs"><img class="ui small image" src="assets/images/logo_horizontal.png" alt="GATEWAY"></a>
        </div>
    </div>
    <div class="right stackable menu">
        <div class="ui dropdown item">
            Find Resources <i class="margin-left fa fa-angle-down"></i>
            <div class="menu">
                <div class="item">
                    <a href="/programs" class="">Resource Programs</a>
                </div>
                <div class="item">
                    <a href="/programs" class="">Peer Mentors</a>
                </div>
                <div class="item">
                    <a href="/programs" class="">Student Groups</a>
                </div>
            </div>
        </div>
        <div class="ui dropdown item">
            My Account <i class="margin-left fa fa-angle-down"></i>
            <div class="menu">
                <div class="item">
                    <a href="/profile" class="">My Profile</a>
                </div>
                <div class="item">
                    <a href="/programs" class="">My Appointments</a>
                </div>
                <div class="item">
                    <a href="/programs" class="">My Messages</a>
                </div>
            </div>
        </div>
            <a href="/login" class="item" ng-click="logout()"> Logout <i class="margin-left fa fa-sign-out"></i></a>        
    </div>
</div>
