<div class="ui middle aligned centered grid">
    <div class="ten wide column">
        <h2 class="ui center aligned">Log-in to your account
      </h2>
        <div class="ui raised segment padded">
            <form class="ui form">
                <div class="field">
                    <label>Username</label>
                    <input type="text" name="username" placeholder="username" ng-model="user.username">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password" ng-model="user.password">
                </div>
                <button class="ui button centered" type="submit" ng-click="login(user)">Submit</button>
            </form>
        </div>
        <div class="ui message center aligned">
            New to us? <a href="#/signup">Sign Up</a>
        </div>
    </div>
</div>
<script src="assets/main.js"></script>
