<div class="ui grid stackable menu center aligned">
    <div class="three wide column">
        <a href="#/"><img class="ui image" src="assets/images/logo_horizontal.png"></a>
    </div>
    <div class="menu right">
    	<div class="ui dropdown item three wide column">
            Find Resources
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Resource Programs</div>
                <div class="item">Peer Mentors</div>
                <div class="item">Student Groups</div>
            </div>
        </div>
        <div class="ui dropdown item three wide column">
            My Account
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">My Profile</div>
                <div class="item">Scheduled Appointments</div>
                <div class="item">Messages</div>
            </div>
        </div>
        <a class="two wide column item">Logout</a>
    </div>
</div>
