<div class="ui grid stackable menu center aligned">
    <div class="three wide column">
        <a href="#/"><img class="ui image" src="assets/images/logo_horizontal.png"></a>
    </div>
    <div class="menu right">
    	<div class="ui dropdown item three wide column">
            Find Resources
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Resource Programs</div>
                <div class="item">Peer Mentors</div>
                <div class="item">Student Groups</div>
            </div>
        </div>
        <div class="ui dropdown item three wide column">
            My Account
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">My Profile</div>
                <div class="item">Scheduled Appointments</div>
                <div class="item">Messages</div>
            </div>
        </div>
        <a class="two wide column item">Logout</a>
    </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-96553651-1', 'auto');
  ga('send', 'pageview');

</script>