<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 margin-top col-sm-offset-0 col-sm-5 center-sm">
            <h1>Profile</h1>
            <div class="ui basic segment no-padding">
                <table class="ui celled table">
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{user.firstname}} {{user.lastname}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:info@support.com"> {{user.email}}</a></td>
                        </tr>
                        <tr>
                            <td>Date of Birth:</td>
                            <td>{{user.birthday}}</td>
                        </tr>
                        <tr>
                            <td>Graduation:</td>
                            <td>{{user.graduation}}</td>
                        </tr>
                        <tr>
                            <td>Major:</td>
                            <td>{{user.school}} - {{user.major}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui divider hide-on-sm-and-up"></div>
        </div>
        <div class="col-sm-5 col-sm-offset-1 margin-top col-xs-10 col-xs-offset-1">
            <h1>Suggested Programs</h1>
            <div class="box">
                <div class="row middle-sm">
                    <div class="col-sm-12 col-xs-12 padding-top-bottom ui shape" ng-repeat="program in programs | filter: user.school" emit-last-repeater-element>
                        <div class="ui card">
                            <div class="content">
                                <a class="header" target="_blank" href="{{program.link}}" ng-click="trackInfo(program)">{{program.program}}</a>
                                <div class="meta">
                                    <span class="group" ng-repeat="s in program.school">{{s}}{{$last ? '' : ', '}}</span>
                                </div>
                                <div class="description">
                                    <span ng-repeat="sub in program.subjects">
                        {{sub}}{{$last ? '' : ', '}}
                        </span>
                                </div>
                            </div>
                            <div class="extra content">
                                <div class="right floated author">
                                    <div class="ui showmodal secondary button {{$index}}" data-target="#dialogTestDialog{{$index}}">More info <i class="fa fa-angle-right"></i></div>
                                </div>
                            </div>
                            <div class="ui modal long scrolling" id="dialogTestDialog{{$index}}">
                                <i class="close icon"></i>
                                <div class="header">
                                    {{program.program}}
                                    <h6>
                            <span class="group" ng-repeat="s in program.school">{{s}}{{$last ? '' : ', '}}</span>
                        </h6>
                                </div>
                                <div class="content">
                                    <div class="description">
                                        <h4>Subjects:</h4>
                                        <span ng-repeat="sub in program.subjects">{{sub}}{{$last ? '' : ', '}}</span>
                                    </div>
                                    <div class="description">
                                        <div ng-show="program.times != null">
                                            <span ng-repeat="set in program.times">
                                    <h4>Hours:</h4>
                                    <span ng-repeat="(day, time) in set">{{day}}: {{time}}<br></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="description" ng-show="program.course_data != null">
                                        <div class="ui accordion">
                                            <div class="title">
                                                <h4>Courses <i class="fa fa-angle-down"></i></h4>
                                            </div>
                                            <div class="content classes">
                                                <div class="item" ng-repeat="course in program.course_data | unique: 'course_id' | orderBy: 'course_id'">{{course.subject}} {{course.catalog_num}}: {{course.title}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <a class="link margin-top" href="mailto:nuventionteame@gmail.com"><i class="fa fa-envelope"></i> Contact</a>
                                        <a class="link margin-left" href="{{program.link}}" target="_blank"><i class="fa fa-globe"></i> Website</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="assets/main.js"></script>
