<div class="container-fluid padding-top-bottom extra-padding-sides">
    <div class="row extra-padding-top">
        <div class="col col-xs-12 col-sm-6 margin-bottom">
            <div class="row start-sm center-xs start-xs">
                <div class="ui action left icon input">
                    <i class="search icon"></i>
                    <input name="search" id="search_id" placeholder="Search..." type="text" ng-model="userInput" ng-keydown="applySearchEnter($event)" onkeydown="uniKeyCode(event)" autofocus="autofocus">
                    <div class="ui primary button" ng-click="applySearch()" onclick="trackFunction()">Search</div>
                    <br>
                    <div class="ui primary button" ng-click="clearing()">View All</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="row end-sm center-xs middle-xs">
                <select class="ui dropdown clear-school" ng-model="schoolFilter"><i class="dropdown icon"></i>
                    <option class="item" value="" selected>Select School</option>
                    <option value="Weinberg College of Arts and Sciences">Weinberg</option>
                    <option value="McCormick School of Engineering and Applied Science">McCormick</option>
                </select>
                <div class="margin-left ui button clear-school">Clear</div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding-top-bottom extra-padding-sides">
    <div class="row">
        <div class="col-xs-6 col-sm-4" id="program-col" ng-repeat="program in ranked_programs | filter: search | filter: schoolFilter| orderBy:'-rank'" emit-last-repeater-element>
            <div class="ui card">
                <div class="content">
                    <a class="header" target="_blank" href="http://www.google.com" ng-click="trackInfo(program)">{{program.program}}</a>
                    <div class="meta">
                        <span class="group" ng-repeat="s in program.school">{{s}}{{$last ? '' : ','}}</span>
                    </div>
                    <div class="description">
                        <span ng-repeat="sub in program.subjects">
                        {{sub}}{{$last ? '' : ', '}}
                        </span>
                    </div>
                </div>
                <div class="extra content">
                    <div class="right floated author">
                        <div class="ui showmodal button {{$index}}" data-target="#dialogTestDialog{{$index}}">More info <i class="fa fa-angle-right"></i></div>
                    </div>
                </div>
                <div class="ui modal" id="dialogTestDialog{{$index}}">
                    <i class="close icon"></i>
                    <div class="header">
                        {{program.program}}
                        <h6>
                            <span class="group" ng-repeat="s in program.school">{{s}}{{$last ? '' : ','}}</span>
                        </h6>
                    </div>
                    <div class="content">
                        <div class="description">
                        <h4>Subjects:</h4>
                             <span ng-repeat="sub in program.subjects">{{sub}}{{$last ? '' : ', '}}</span>
                        </div>
                        <div class="description">{{program.times}}
                            <div ng-if="program.times != '[{}]'">
                                <span ng-repeat="set in program.times">
                                    <h4>Hours:</h4>
                                    <span ng-repeat="(day, time) in set">{{day}}: {{time}}<br></span>
                                </span>
                            </div>
                            <div class="description"><a class="link" href="mailto:nuventionteame@gmail.com"><i class="fa fa-envelope"></i> Contact</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="HelpID"></div>
<script src="assets/main.js"></script>
<script>
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-98210332-1', 'auto');
ga('send', 'pageview');
</script>
<script>
function trackFunction() {
    ga('send', {
        hitType: 'event',
        eventCategory: 'Search',
        eventAction: (document.getElementById("search_id").value).toLowerCase(),
        eventLabel: angular.element(document.getElementById('HelpID')).scope().major(),
    });
    /*
    ga('send', {
      hitType: 'event',
      eventCategory: 'Search',
      eventAction: (document.getElementById("search_id").value).toLowerCase(),
      eventLabel: angular.element(document.getElementById('HelpID')).scope().school(),
      eventValue: 2
    });

    ga('send', {
      hitType: 'event',
      eventCategory: 'Search',
      eventAction: (document.getElementById("search_id").value).toLowerCase(),
      eventLabel: angular.element(document.getElementById('HelpID')).scope().graduation(),
      eventValue: 3
    });
    */
}

function uniKeyCode(e) {
    if (e.keyCode === 13) {
        trackFunction();
    }
}

function getInfo(name) {

    ga('send', {
        hitType: 'event',
        eventCategory: 'Click',
        eventAction: name,
        eventLabel: angular.element(document.getElementById('HelpID')).scope().major()
    });

}
</script>
