<script type="text/javascript">
$('.ui.form').form({
    fields: {
        firstname: {
            identifier: 'firstname',
            rules: [{
                type: 'empty',
                prompt: 'Please enter your first name.'
            }]
        },
        lastname: {
            identifier: 'lastname',
            rules: [{
                type: 'empty',
                prompt: 'Please enter your last name.'
            }]
        },
        email: {
            identifier: 'email',
            rules: [{
                type: 'email',
                prompt: 'Please enter a valid email address.'
            }]
        },
        gender: {
            identifier: 'gender',
            rules: [{
                type: 'empty',
                prompt: 'Please select a valid option.'
            }]
        },
        password: {
            identifier: 'password',
            rules: [{
                type: 'empty',
                prompt: 'Please enter a password'
            }, {
                type: 'minLength[6]',
                prompt: 'Your password must be at least {ruleValue} characters'
            }]
        },
        graduation: {
            identifier: 'graduation',
            rules: [{
                type: 'exactLength[4]',
                prompt: 'Please enter a valid graduation year (ex. 2020).'
            }]
        },
        birthday: {
            identifier: 'birthday',
            rules: [{
                type: 'empty',
                prompt: 'Please enter a valid date of birth.'
            }]
        },
        school: {
            identifier: 'school',
            rules: [{
                type: 'empty',
                prompt: 'Please select your home school.'
            }]
        },
        major: {
            identifier: 'major',
            rules: [{
                type: 'empty',
                prompt: 'Please select your major.'
            }]
        },
        terms: {
            identifier: 'terms',
            rules: [{
                type: 'checked',
                prompt: 'You must agree to the terms and conditions'
            }]
        }
    }
});
</script>
<div class="container-fluid extra-padding-bottom extra-padding-top">
<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h2 class="ui center aligned">Sign Up</h2>
        <div class="ui raised segment">
            <form class="ui form" action="/signup" method="post">
                <div class="two fields">
                    <div class="field required">
                        <label for="firstname">First Name</label>
                        <input type="text" name="firstname" placeholder="First Name">
                    </div>
                    <div class="field required">
                        <label for="lastname">Last Name</label>
                        <input type="text" name="lastname" placeholder="Last Name">
                    </div>
                </div>
                <div class="required field">
                    <label>Email</label>
                    <input type="text" name="email" placeholder="Email">
                </div>
                <div class="required field">
                    <label>Password</label>
                    <input type="password" name="password" placeholder="password">
                </div>
                <div class="equal width fields">
                    <div class="field required">
                        <label>Graduation Year</label>
                        <input type="number" name="graduation" placeholder="ex: 2020">
                    </div>
                    <div class="field required">
                        <label>Birth Date</label>
                        <input type="date" name="birthday" placeholder="mm/dd/yyyy">
                    </div>
                    <div class="field required">
                        <label for="gender">Gender</label>
                        <select class="ui fluid search selection dropdown" name="gender"><i class="dropdown icon"></i>
                            <option value="">Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="equal width fields">
                    <div class="field required">
                        <label for="major">Major</label>
                        <select name="major" class="ui fluid search selection dropdown"><i class="dropdown icon"></i>
                            <option value="">Major</option>
                            <option class="item" value="African American Studies">African American Studies</option>
                            <option class="item" value="American Studies">American Studies</option>
                            <option class="item" value="Anthropology">Anthropology</option>
                            <option class="item" value="Applied Mathematics">Applied Mathematics</option>
                            <option class="item" value="Art History">Art History</option>
                            <option class="item" value="Art Theory and Practice">Art Theory and Practice</option>
                            <option class="item" value="Asian American Studies">Asian American Studies</option>
                            <option class="item" value="Asian Languages and Cultures">Asian Languages and Cultures</option>
                            <option class="item" value="Asian Studies">Asian Studies</option>
                            <option class="item" value="Biological Sciences">Biological Sciences</option>
                            <option class="item" value="Biomedical Engineering">Biomedical Engineering</option>
                            <option class="item" value="Chemical Engineering">Chemical Engineering</option>
                            <option class="item" value="Chemistry">Chemistry</option>
                            <option class="item" value="Civil Engineering">Civil Engineering</option>
                            <option class="item" value="Classics">Classics</option>
                            <option class="item" value="Cognitive Science">Cognitive Science</option>
                            <option class="item" value="Combined Engineering and Communication Program">Combined Engineering and Communication Program</option>
                            <option class="item" value="Combined Music & Engineering Program">Combined Music & Engineering Program</option>
                            <option class="item" value="Communication Studies">Communication Studies</option>
                            <option class="item" value="Comparative Literary Studies">Comparative Literary Studies</option>
                            <option class="item" value="Computer Engineering">Computer Engineering</option>
                            <option class="item" value="Computer Science (BS)">Computer Science (BS)</option>
                            <option class="item" value="Computer Science BA-CS">Computer Science BA-CS</option>
                            <option class="item" value="Dance">Dance</option>
                            <option class="item" value="Earth and Planetary Sciences">Earth and Planetary Sciences</option>
                            <option class="item" value="Economics">Economics</option>
                            <option class="item" value="Electrical Engineering">Electrical Engineering</option>
                            <option class="item" value="English: Creative Writing">English: Creative Writing</option>
                            <option class="item" value="English: Literature">English: Literature</option>
                            <option class="item" value="Environmental Engineering">Environmental Engineering</option>
                            <option class="item" value="Environmental Sciences">Environmental Sciences</option>
                            <option class="item" value="French">French</option>
                            <option class="item" value="Gender and Sexuality Studies">Gender and Sexuality Studies</option>
                            <option class="item" value="German">German</option>
                            <option class="item" value="History">History</option>
                            <option class="item" value="Honors Program in Medical Education (HPME)">Honors Program in Medical Education (HPME)</option>
                            <option class="item" value="Human Communication Sciences">Human Communication Sciences</option>
                            <option class="item" value="Human Development and Psychological Services">Human Development and Psychological Services</option>
                            <option class="item" value="Industrial Engineering">Industrial Engineering</option>
                            <option class="item" value="Integrated Engineering Studies (MIES)">Integrated Engineering Studies (MIES)</option>
                            <option class="item" value="Integrated Science Program">Integrated Science Program</option>
                            <option class="item" value="Italian">Italian</option>
                            <option class="item" value="Jewish Studies">Jewish Studies</option>
                            <option class="item" value="Journalism">Journalism</option>
                            <option class="item" value="Latina and Latino Studies">Latina and Latino Studies</option>
                            <option class="item" value="Learning and Organizational Change">Learning and Organizational Change</option>
                            <option class="item" value="Linguistics">Linguistics</option>
                            <option class="item" value="Manufacturing & Design Engineering (BS-MaDE)">Manufacturing & Design Engineering (BS-MaDE)</option>
                            <option class="item" value="Materials Science and Engineering (BA)">Materials Science and Engineering (BA)</option>
                            <option class="item" value="Materials Science and Engineering (BS)">Materials Science and Engineering (BS)</option>
                            <option class="item" value="Mathematical Methods in the Social Sciences">Mathematical Methods in the Social Sciences</option>
                            <option class="item" value="Mathematics">Mathematics</option>
                            <option class="item" value="Mechanical Engineering">Mechanical Engineering</option>
                            <option class="item" value="Middle East North African Studies">Middle East North African Studies</option>
                            <option class="item" value="Music Performance: Brass">Music Performance: Brass</option>
                            <option class="item" value="Music Performance: Percussion">Music Performance: Percussion</option>
                            <option class="item" value="Music Performance: Piano">Music Performance: Piano</option>
                            <option class="item" value="Music Performance: Strings">Music Performance: Strings</option>
                            <option class="item" value="Music Performance: Voice & Opera">Music Performance: Voice & Opera</option>
                            <option class="item" value="Music Performance: Woodwinds">Music Performance: Woodwinds</option>
                            <option class="item" value="Music Studies: Composition and Music Technology">Music Studies: Composition and Music Technology</option>
                            <option class="item" value="Music Studies: Music Education">Music Studies: Music Education</option>
                            <option class="item" value="Music Studies: Musicology">Music Studies: Musicology</option>
                            <option class="item" value="Music Studies: Music Theory and Cognition">Music Studies: Music Theory and Cognition</option>
                            <option class="item" value="Neuroscience">Neuroscience</option>
                            <option class="item" value="Northwestern Undergraduate Premedical Scholars Program (NUPSP)">Northwestern Undergraduate Premedical Scholars Program (NUPSP)</option>
                            <option class="item" value="Performance Studies">Performance Studies</option>
                            <option class="item" value="Philosophy">Philosophy</option>
                            <option class="item" value="Physics and Astronomy">Physics and Astronomy</option>
                            <option class="item" value="Political Science">Political Science</option>
                            <option class="item" value="Psychology">Psychology</option>
                            <option class="item" value="Radio/Television/ Film">Radio/Television/ Film</option>
                            <option class="item" value="Religious Studies">Religious Studies</option>
                            <option class="item" value="Secondary Teaching">Secondary Teaching</option>
                            <option class="item" value="Slavic Languages and Literatures">Slavic Languages and Literatures</option>
                            <option class="item" value="Social Policy">Social Policy</option>
                            <option class="item" value="Sociology ">Sociology </option>
                            <option class="item" value="Spanish">Spanish</option>
                            <option class="item" value="Statistics">Statistics</option>
                            <option class="item" value="Theatre">Theatre</option>
                        </select>
                    </div>
                    <div class="field required">
                        <label for="school">School</label>
                        <select class="ui fluid search selection dropdown" name="school"><i class="dropdown icon"></i>
                            <option value="">School</div>
                                <option class="item" value="Weinberg">Weinberg</option>
                                <option class="item" value="School of Education and Social Policy (SESP)">School of Education and Social Policy</option>
                                <option class="item" value="McCormick School of Engineering and Applied Science">McCormick</option>
                                <option class="item" value="School of Communication">School of Communication</option>
                                <option class="item" value="Medill School of Journalism">Medill</option>
                                <option class="item" value="Bienen School of Music">Bienen</option>
                        </select>
                    </div>
                </div>
                <div class="ui hidden divider"></div>
                <div class="required inline field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="terms" tabindex="0" class="hidden">
                        <label>I agree to the terms and conditions</label>
                    </div>
                </div>
                <div class="ui error message"></div>
                <button class="ui button centered" type="submit" value="Submit">Submit</button>
            </form>
        </div>
        <div class="ui message center aligned">
            Already have an account? <a href="/login">Log In</a>
        </div>
    </div>
</div></div>
<script src="assets/main.js"></script>
